.box-profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #999999;
}

.box-image {
    width: 8rem;
    height: 8rem;
    border: 2px solid #E5E5E5;
    border-radius: 10rem;
}

.box-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.box-content p {
    padding-top: 1rem;
}
